.Nav {
  position: fixed;
  width: 130px;
  height: 100vh;
  color: white;
  background-color: #00000099;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;

  img {
    height: 4vh;
  }

  p {
    display: none;
    height: 4vh;
    font-family: 'Abril Fatface', cursive;
  }

  .Link {
    height: 4vh;
  }

  .Link:hover {
    cursor: pointer;

    img {
      display: none;
    }

    p {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 10px) and (max-width: 1025px) {
    display: none;
  }
}